<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docent Embeddable Resources Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../public/stylesheets/admin.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="../public/scripts/app.js"></script>
    </head>
    <body class="container">
        <table>
            <th>Embed Name</th>
            <th>Resource Link</th>
            <th>Embed Link</th>
            <th>How To Video</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Edit and Delete</th>
            <tr>
                <td>name</td>
                <td class="reourcelink">resource link</td>
                <td class="embedlink">embed link</td>
                <td class="howtolink">how to</td>
                <td class="description">description</td>
                <td>category</td>
                <td>tags</td>
                <td>
                    <button type="submit">Edit</button>
                    <button type="submit" class="delete">Delete</button>
                </td>
            </tr>
            <tr>
                <td>name</td>
                <td class="reourcelink">resource link</td>
                <td class="embedlink">embed link</td>
                <td class="howtolink">how to</td>
                <td class="description">description</td>
                <td>category</td>
                <td>tags</td>
                <td>
                    <button type="submit">Edit</button>
                    <button type="submit" class="delete">Delete</button>
                </td>
            </tr>
            <tr>
                <td>name</td>
                <td class="reourcelink">resource link</td>
                <td class="embedlink">embed link</td>
                <td class="howtolink">how to</td>
                <td class="description">description</td>
                <td>category</td>
                <td>tags</td>
                <td>
                    <button type="submit">Edit</button>
                    <button type="submit" class="delete">Delete</button>
                </td>
            </tr>
        </table>


        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">You are about to delete this resource!</h3>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-10">
                        <h4>Are you sure you would like to delete the _ resource?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>


    </body>
</html>