<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docent Embeddable Resources Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../public/stylesheets/admin.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="../public/scripts/app.js"></script>
    </head>
    <body class="container">
        <table>
            <th>Embed Name</th>
            <th>Resource Link</th>
            <th>Embed Link</th>
            <th>How To Video</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Edit and Delete</th>
            <tr>
                <td>name</td>
                <td>resource link</td>
                <td>embed link</td>
                <td>how to</td>
                <td>description</td>
                <td>category</td>
                <td>tags</td>
                <td>
                    <button type="submit">Edit</button>
                    <button type="submit">Delete</button>
                </td>
            </tr>
            <tr>
                <td>name</td>
                <td>resource link</td>
                <td>embed link</td>
                <td>how to</td>
                <td>description</td>
                <td>category</td>
                <td>tags</td>
                <td>
                    <button type="submit">Edit</button>
                    <button type="submit">Delete</button>
                </td>
            </tr>
            <tr>
                <td>name</td>
                <td>resource link</td>
                <td>embed link</td>
                <td>how to</td>
                <td>description</td>
                <td>category</td>
                <td>tags</td>
                <td>
                    <button type="submit">Edit</button>
                    <button type="submit">Delete</button>
                </td>
            </tr>
        </table>
    </body>
</html>