body {
    font-family: lato, sans-serif;
}
table {
    margin: 50px auto;
}

table td {
    padding: 30px;
    text-align: center;
    border: 1px solid black;
}

table th {
    text-align: center;
}